body, html {
    height: 100%; 
    margin: 0;
    background-image: url('img/BACKGROUND.jpg'); 
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;

    display: flex;

    justify-content: center;
    align-items: center;
}


#sketchbox {
    position: relative;

    width: 400px;
    height: 500px;
    margin: 20px auto;


}

#overlap {
    display: flex;

    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-50%);
    width: 800px;
    z-index: 10;
    opacity: 100; 
    pointer-events: none;
}

#botOverLap {
    display: flex;

    position: absolute;
    top: 600px;
    left: 50%;
    transform: translate(-50%);
    width: 700px;
    z-index: 10;
    opacity: 100; 
    pointer-events: none;
}

#pencil {
    display: flex;

    position: absolute;
    top: 100px;
    left: 23%;
    transform: translate(-50%);
    width: 350px;
    z-index: 10;

}

#dino {
    
        position: absolute; 
        top: 320px;
        left: 50%; 
        transform: translateX(-50%); 
        width: 300px; 
        z-index: 10; 
        transition: opacity 0.3s ease; 


    
}

#dino:hover {
    opacity: 0; 
    pointer-events: none;
}