body, html {
    height: 100%; 
    margin: 0;
    background-image: url('img/BACKGROUND.jpg'); 
    background-size: cover;
    background-position: center center;

}

#sketchbox {

    display: block;
    width: 400px;
    height: 500px;
    margin: 20px auto;
    position: center; 

}
